<nz-card
  *ngIf="!hasError"
  class="w-100"
  [nzLoading]="!post"
  [nzTitle]="post?.title"
  [nzActions]="[actionLike, actionDislike, actionComment]"
>
  <p nz-typography>
    {{ post?.message }}
  </p>
  <time nz-typography nzType="secondary">
    {{ post?.createdAt | date: "medium" }}
  </time>
</nz-card>

<ng-template #actionLike>
  <button nz-button nzType="link" class="w-100" (click)="like()">
    <i
      nz-icon
      nzType="like"
      [nzTheme]="(doesUserLikePost$ | async) ? 'fill' : 'outline'"
    ></i>
    {{ post?.likesCount }}
  </button>
</ng-template>

<ng-template #actionDislike>
  <button nz-button nzType="link" class="w-100" (click)="dislike()">
    <i
      nz-icon
      nzType="dislike"
      [nzTheme]="(doesUserDislikePost$ | async) ? 'fill' : 'outline'"
    ></i>
    {{ post?.dislikesCount }}
  </button>
</ng-template>

<ng-template #actionComment>
  <button nz-button nzType="link" class="w-100" (click)="showReplyTo()">
    <i nz-icon nzType="comment"></i>
    {{ "REPLY" | translate }}
  </button>
</ng-template>

<nz-result
  *ngIf="!post && hasError"
  nzStatus="warning"
  [nzTitle]="'MESSAGES.FAILED' | translate"
>
  <div nz-result-extra>
    <button nz-button nzType="primary" (click)="getPostDetails()">
      {{ "RETRY" | translate }}
    </button>
  </div>
</nz-result>

<app-comment-reply-to
  *ngIf="shouldShowReplyTo && !hasError"
  class="db ph3 pt3 pb1"
  (cancel)="hideReplyTo()"
  (saveComment)="saveComment($event, postId)"
></app-comment-reply-to>

<ng-container *ngIf="comments && comments.length && !hasError">
  <nz-divider [nzText]="'COMMENTS.COMMENTS' | translate"></nz-divider>

  <div class="ph3 flex justify-between">
    {{
      (comments.length === 1 ? "COMMENTS.REPLY" : "COMMENTS.REPLIES")
        | translate: { count: comments.length }
    }}

    <nz-select [formControl]="sortBy">
      <nz-option
        [nzValue]="SortBy.MostLikes"
        [nzLabel]="SortBy.MostLikes | translate"
      ></nz-option>
      <nz-option
        [nzValue]="SortBy.MostDislikes"
        [nzLabel]="SortBy.MostDislikes | translate"
      ></nz-option>
      <nz-option
        [nzValue]="SortBy.NewestPosts"
        [nzLabel]="SortBy.NewestPosts | translate"
      ></nz-option>
    </nz-select>
  </div>

  <app-post-comments
    *ngIf="post && comments"
    [comments]="comments"
    [postId]="postId"
    (saveComment)="saveComment($event.comment, $event.parentDocId)"
  ></app-post-comments>
</ng-container>
