<form [formGroup]="searchForm" class="mb3" *ngIf="!loading && !hasError">
  <nz-select formControlName="sortBy">
    <nz-option
      [nzValue]="SortBy.NewestPosts"
      [nzLabel]="SortBy.NewestPosts | translate"
    ></nz-option>
    <nz-option
      [nzValue]="SortBy.OldestPosts"
      [nzLabel]="SortBy.OldestPosts | translate"
    ></nz-option>
    <nz-option
      [nzValue]="SortBy.MostLikes"
      [nzLabel]="SortBy.MostLikes | translate"
    ></nz-option>
    <nz-option
      [nzValue]="SortBy.MostDislikes"
      [nzLabel]="SortBy.MostDislikes | translate"
    ></nz-option>
    <nz-option
      [nzValue]="SortBy.MostComments"
      [nzLabel]="SortBy.MostComments | translate"
    ></nz-option>
  </nz-select>
</form>

<nz-list
  [nzLoading]="loading"
  nzItemLayout="vertical"
  [nzBordered]="true"
  class="bg-white"
>
  <nz-list-item
    *ngFor="let post of posts; trackBy: trackById"
    [nzNoFlex]="true"
  >
    <nz-list-item-meta>
      <nz-list-item-meta-title>
        <a [routerLink]="['/post', post.id]">{{ post.title }}</a>
      </nz-list-item-meta-title>
      <nz-list-item-meta-description>
        {{ post.createdAt | date: "medium" }}
      </nz-list-item-meta-description>
    </nz-list-item-meta>
    <a [routerLink]="['/post', post.id]">{{ post.message }}</a>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <button nz-button nzType="link" (click)="like(post)">
          <i
            nz-icon
            nzType="like"
            [nzTheme]="post.doesUserLike ? 'fill' : 'outline'"
          ></i>
          {{ post.likesCount }}
        </button>
      </nz-list-item-action>
      <nz-list-item-action>
        <button nz-button nzType="link" (click)="dislike(post)">
          <i
            nz-icon
            nzType="dislike"
            [nzTheme]="post.doesUserDislike ? 'fill' : 'outline'"
          ></i>
          {{ post.dislikesCount }}
        </button>
      </nz-list-item-action>
      <nz-list-item-action>
        <a [routerLink]="['/post', post.id]">
          <i nz-icon nzType="comment"></i>
          {{ post.commentsCount }}
        </a>
      </nz-list-item-action>
    </ul>
  </nz-list-item>
</nz-list>
<div class="tc mt3">
  <nz-pagination
    nzShowSizeChanger
    [nzPageIndex]="pageIndex$ | async"
    [nzPageSize]="pageSize$ | async"
    [nzTotal]="totalPostNumber$ | async"
    (nzPageSizeChang)="onPageSizeChange($event)"
    (nzPageIndexChange)="onPageIndexChange($event)"
  ></nz-pagination>
</div>

<nz-result
  *ngIf="!loading && hasError"
  nzStatus="warning"
  [nzTitle]="'MESSAGES.FAILED' | translate"
>
  <div nz-result-extra>
    <button nz-button nzType="primary" (click)="getPosts()">
      {{ "RETRY" | translate }}
    </button>
  </div>
</nz-result>
